config.php
.phpunit.result.cache
# Composer
/vendor/
composer.phar
composer.lock
composer.json
# PHPUnit
.phpunit.cache/
# Outras pastas e arquivos temporários
/.idea/
/.vscode/
.DS_Store
Thumbs.db
# Logs
*.log
# Arquivos temporários
*.tmp
*.temp
# Teste de cobertura
coverage/
# Uploads de imagens de teste e uploads em geral (exceto imagens padrão)
/uploads/*
!/uploads/acessorios.webp
!/uploads/default.webp
!/uploads/documentos.webp
!/uploads/eletronicos.webp
!/uploads/outros.webp
